* {
  box-sizing: border-box;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    background-color: yellow;
    font-style: italic;
}

/* selected link */
a:active {
    color: yellow;
}
a:link {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.nav {
  width: 12.5%;
  position: fixed;
  top: 0px;
  left:0px;
  background-color: red;
  height:100vh;
}

.main {
  position: relative;
  left:12.5%;
  background-color: none;
  width: 87.5%
}

.row {
  display: flex;
  flex-wrap:wrap;
}

.col__1of8 {
  flex:0 0 12.5%;
}

.col__2of8 {
  flex:0 0 25%;
}

.col__4of8 {
  flex:0 0 50%;
}

.col__5of8 {
  flex:0 0 62.2%;
}

.content {
  margin: 10px;
  padding:10px;

}
.text .content{
  font-size: 30px;

}

.rollover{
  color: red;
}

.rollover: hover{
  color: blue;
}

.blur{
  position: fixed;
  opacity: 0;
  filter: blur(20px);
  pointer-events: none;
  transition: all 2s;
}

.blur .showme{
  opacity: 1;
  transition: all 2s;
  filter: blur(0px);
}

.footnotes{
  font-size: 12px;
  font-family: arial;
}
