<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Layout 2</title>
    <style media="screen">

.inlineblock {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  border: solid 5px;
  margin: 50px 20px 0px 0px;
}

    </style>
  </head>
  <body>
    <div class="inlineblock">CDs are dead. As a matter of fact, all static, non-networked media is dead. This includes CDs and DVDs, which are quickly going the way of the zip drive.</div>
      <div class="inlineblock">CDs are dead. As a matter of fact, all static, non-networked media is dead. This includes CDs and DVDs, which are quickly going the way of the zip drive.</div>
        <div class="inlineblock">CDs are dead. As a matter of fact, all static, non-networked media is dead. This includes CDs and DVDs, which are quickly going the way of the zip drive.</div>
        <div class="inlineblock">CDs are dead. As a matter of fact, all static, non-networked media is dead. This includes CDs and DVDs, which are quickly going the way of the zip drive.</div>
          <div class="inlineblock">CDs are dead. As a matter of fact, all static, non-networked media is dead. This includes CDs and DVDs, which are quickly going the way of the zip drive.</div>
            <div class="inlineblock">CDs are dead. As a matter of fact, all static, non-networked media is dead. This includes CDs and DVDs, which are quickly going the way of the zip drive.</div>
  </body>
</html>
