<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Layout 3</title>
  </head>
    <style media="screen">
.margin{
  margin-left: 200px;
  border-left: 2px solid;
  padding-left: 100px;
}
.two{
  margin-left: 400px
}
.three{
  margin-left: 600px
}

      </style>
  <body>
      <div class="margin">
        <h1>Header</h1>
        <h2>Header 2</h2>
      </div>
    <div class="margin two">CDs are dead. As a matter of fact, all static, non-networked media is dead. </div>

      <div class="margin three">CDs are dead. As a matter of fact, all static, non-networked media is dead.</div>


  </body>
</html>
